
@{
    ViewData["Title"] = "Option";
}

<link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" type="text/css" />



<div class="jumbotron text-center">
    <h1 class="display-3">Welcome Admin!</h1>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/admin/productlist" role="button">View and Add Products </a>
        <a class="btn btn-primary btn-sm" href="/admin/orderlist" role="button">View Customers' Orders</a>
    </p>
</div>

