
@{
    ViewBag.Title = "Aproved";
}
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" type="text/css" />



<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Your order is aproved!</strong> Thanks for your purchasing at our website</p>
    <hr>
    <p>
        Having trouble? <a href="/home/contact">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/home" role="button">Continue to homepage</a>
    </p>
</div>
