@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>


<address>
    Digital Retailers Inc<br />
    Saudi Arabia, Alhasa<br />
    <abbr title="Phone">P:</abbr>
    0531928481
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@DigitalRetailers.com</a><br />
</address>